@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fredericka+the+Great&family=Noto+Sans+Mono:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

html {
  font-size: 62.5%;
}

:root {
  --g1: #111; /* stand, handle, contact-us submit button */
  --g2: #222; 
  --g3: #333; /* phone unit and  contact form background */
  --g4: #444;
  --g5: #555;
  --g6: #666;
  --g7: #777;
  --g8: #888; /* handle circles dialler dots*/
  --g9: #999;
  --g10: #aaa; 
  --g11: #bbb; /* container */
  --g12: #ccc; /* dialler  and text */
  --g13: #ddd; /* background */
  --g14: #eee;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--g13);
  display: grid;
  place-items: center;
  padding: 5rem 20rem;
}

.contact {
  width: 100%;
  height: 100%;
  background-color: var(--g11);
  border-radius: 60rem 2rem;
}

.contact > div {
  flex: 1;
}

.telephone {
  width: 30rem;
  height: 20rem;
  background-color: var(--g3);
  border-radius: 100rem 100rem 20rem 20rem;
  position: relative;
  animation: telephoneAnim 4s infinite reverse;
}

@keyframes telephoneAnim {
  0% {
    transform: rotatez(0);
  }
  1%, 3%, 5%, 7%, 9% {
    transform: rotateZ(-1deg)
  }
  2%, 4%, 6%, 8%, 10% {
    transform: rotateZ(1deg)
  }
  11%, 100% {
    transform: rotateZ(0);
  }
}

.telephone > div {
  position: absolute;
}

.telephone::before,
.telephone::after {
  content: '';
  width: 7rem;
  height: 22rem;
  background-color: var(--g3);
  position: absolute;
  bottom: 0;
  border-radius: 5rem 5rem 0 0;
}

.telephone::before {
  left: 4rem;
}

.telephone::after {
  right: 4rem;
}

.handset {
  width: 40rem;
  height: 5rem;
  background-color: var(--g3);
  top: -7.2rem;
  left: -5rem;
  border-radius: 5rem;
}

.handset::before,
.handset::after {
  content: '';
  position: absolute;
  width: 6rem;
  height: 4rem;
  background-color: var(--g8);
  bottom: -4.3rem;
  border-radius: 5rem;
}

.handset::before {
  left: 0;
}

.handset::after {
  right: 0;
}

.dial {
  width: 10rem;
  height: 10rem;
  background-color: var(--g12);
  top: 5rem;
  left: 10rem;
  border-radius: 5rem;
  border: 2.5rem dotted var(--g8); 
  z-index: 1;
}

.stand {
  width: 100%;
  height: 5rem;
  background-color: var(--g1);
  bottom: -5.5rem;
  border-radius: 5rem;
}

.form-wrapper {
  flex-direction: column;
  gap: 5rem 0;
}

.form-wrapper form {
  flex-direction: column;
  gap: 1.5rem 0;
}

.form-heading {
  font-size: 6rem;
  color: var(--g1);
}

form input,
textarea {
  width: 40rem;
  border: none;
  outline: none;
  background-color: var(--g3);
  border-radius: 2rem;
  font-size: 1.5rem;
  color: var(--g12);
  padding: 1rem 2rem;
}

textarea {
  resize: vertical;
  max-height: 10rem;
  min-height: 5rem;
}

::placeholder {
  color: var(--g10);
}

.form-btn {
  background-color: var(--g1);
}

@media (max-width: 1650px) {
  .container {
    padding: 5rem;
  }
  .contact {
    border-radius: 30rem 2rem;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0;
  }
  .contact {
    flex-direction: column-reverse;
    border-radius: 0;
  }
  .telephone-wrapper {
    margin-top: 10rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 40%;
  }
}